.product-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #212121;

  padding: 10px;
}

.singleProduct {
  text-align: center;
}

.product-image {
  height: 200px;
  width: 300px;
}
